
<body>

    <!-- NAV BAR -->
    <ul class="nav justify-content-end" style="background-color: #000000">
        <li class="nav-item">
            <a class="nav-link text-white" href="/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/inventory">Inventory</a>
        </li>
    </ul>

    <div class="container-fluid">

        <!-- JUMBOTRON -->
        <div class="jumbotron jumbotron-fluid" style="background-color: #272b27">
            <div class="container">
                <div class="text-center">
                    <h1 class="text-center" style="color:#6AB061">Gambit game management.</h1>
                    <h2 class="text-center" style="color:#6AB061">For the games you have, and the ones you
                        want.</h2>
                    <br>
                    <div class="row">

                        <!-- LOGIN FORM -->
                        <div class="col-4">
                            <div class="d-flex justify-content-center h-100">
                                <div class="card p-3 mb-2 text-dark" style="width: 18rem;">
                                    <img src="assets/images/SVG/Project Logo.svg" class="card-img-top"
                                        alt="card image">
                                    <div class="card-body">
                                        <h5 class="card-title">Login</h5>
                                        <p id="invalidLogin" style="color: red"></p>
                                        <form>
                                            <div class="form-group">
                                                <label for="emailInput">Email address</label>
                                                <input type="email" class="form-control" id="emailInput"
                                                    aria-describedby="emailHelp" placeholder="Enter email">
                                            </div>
                                            <div class="form-group">
                                                <label for="passwordInput">Password</label>
                                                <input type="password" class="form-control" id="passwordInput"
                                                    placeholder="Password">
                                            </div>
                                            <button type="submit" class="btn btn-success">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <img class="col-8" src="assets/images/AdobeStock_260199610.jpeg" class="rounded"
                            alt="gamers image">
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
